
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapersafari.com%2Flight-grey-wallpaper%2F&psig=AOvVaw1iKHjkoLlgHOBV2UItMgSj&ust=1700160091661000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNjFx4TUxoIDFQAAAAAdAAAAABAQ);
	background-position: center;
	background-size: cover;
	position: absolute;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
td
{
	color: white;
}
