
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://th.bing.com/th/id/OIP.kx--WMWE77ZrssuE5Wkt5QHaE8?pid=ImgDet&rs=1);
	background-position: center;
	background-size: cover;
	position: absolute;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
td
{
	color: white;
}
